


  <div class="back">
    <div class="center cenX">
      <h1 class="titleMain" style="font-family: 'Gravity-Regular';">ELETRÔNICA</h1>
      <h3 class="regTitle padB40" style="margin-top:0;font-family: 'Gravity-Regular';">EM BREVE...</h3>

    </div>
  </div>
