
<!DOCTYPE HTML>
<html>
    <head>

      <script src="/css-software/page.css"></script>

    </head>
    <body>

        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <link href="/lightbox/ekko-lightbox.css" rel="stylesheet">

            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col topPad cenX" style="padding-top:200px;">

                                <h1 class="titleMain">Simulação de "Nano-robô"</h1>
                                <h3 class="regTitle">Engine Unity | C#</h3>


                        </div>
                        <!-- <div class="col-4 topPad">

                            yoyoyo
                        </div> -->
                    </div>

                    <div class="cenX padB60">
                        <a class="btn btn-primary btn-lg" href="/Arquivos_Apresentação.zip" role="button" download>Download arquivos .zip</a>
                        <!--<a class="linkGrey" id="srcCode" href="https://github.com/DevonCrawford/Timelapse-Auto-Ramp-Photoshop-Plugin">View source code</a>-->
                    </div>

                    <div class="row exText">
                        <div class="col-4">
                            <h5 class="cenX"></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX" style="font-family: 'Gravity-Regular';font-size: 2em;">SIMULAÇÃO</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX"></h5>
                        </div>
                    </div>
                    <video width="100%" autoplay loop class="round3 vid">
                        <source src="/video_fluxoSang.mp4"></source>
                    </video>
                </div>
            </div>

            <div class="container-fluid  sec" style="background-color: #191919;">
                <div class="container">
                    <h3 class="subTitle white" style="font-family: 'Gravity-Regular';font-size: 3em;">TEORIA</h3>
                    <p class="subText white extPad" align = "justify" id="desc" style="font-family: 'Gravity-Regular';font-size: 1.8em;">
                      Esse projeto foi apresentado durante a semana Universitária, organizada pela UnB-FGA, na qual fui um dos palestrantes.
                      Nosso principal objetivo era introduzir para os alunos leigos no assunto sobre como são os processos de estudos e desenvolvimento de simulações gráficas.
                      Nossa metodologia consistiu em criar essa simulação, de um nano-tubo de ouro reagindo ao magnetismo presente em uma hemácia infectada com alguma doença e, teoricamente, enviando sinais de sua presença no corpo, apenas com o intuito de demonstrar como ela funciona e como desenvolvê-la.
                    </br>Um tutorial foi criado por nós, incluindo desde o processo de modelagem até o uso da mesma na engine Unity, ensinando como criar o dinamismo por código.


                    </p>
                </div>
            </div>

            <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle" style="font-family: 'Gravity-Regular';font-size: 3em;">COMO VER O TUTORIAL</h3>
                        <ul class="listPad">
                            <li align = "justify" style="font-family: 'Gravity-Regular';font-size: 2em;">Para seguir o tutorial, utilizamos o software Blender para efetuar as modelagens, que é encontrado gratuitamente na internet para <a href="https://www.blender.org/download/">download,</a>
                              junto da Engine <a href="https://unity3d.com/pt/get-unity/download"> UNITY</a>, na qual, consequentemente segue o download do "microsoft visual studio"
                              (IDE para escrita de códigos), em que será desenvolvido o ambiente da simulação. Efetuado o download desses dois softwares,
                              você está pronto para dar continuidade.

                            </li>
                            <li style="font-family: 'Gravity-Regular';font-size: 2em;">Caso você esteja no celular, baixe o pdf logo abaixo dessa lista e siga o tutorial a partir do slide de número 25, seguindo isso estaremos
                            ensinando como modelar uma hemácia e posteriormente como coloca-lá na engine Unity e utiliza-la. Caso contrário apenas siga os slides.</li>


                            <li style="font-family: 'Gravity-Regular';font-size: 2em;">qualquer dúvida, <a href="/contacts/new"> Fale comigo</a>.</li>

                        </ul>
                </div>


                <div class="container">
                    <iframe src="/PDFslides_fluxoSang.pdf" width="90%" height="650px" class="centerImg padB40"></iframe>
                </div>
            </div>

            <!-- <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">RESULTS</h3>
                    <div class="row justify-content-center">
                        <div class="row">
                            <a href="results/sunset-result.mp4" data-toggle="lightbox" data-type="video" data-gallery="video-gallery" class="col-sm-4">
                                <img src="results/thumbs/sunset-cmp.jpg" class="img-fluid">
                            </a>
                            <a href="https://www.youtube.com/watch?v=tPx9ZOmckCc" data-toggle="lightbox" data-gallery="video-gallery" data-type="youtube" class="col-sm-4">
                                <img src="/images/IMG_1083.jpg" class="img-fluid">
                            </a>
                            <a href="/timelapses/DamBeach.mp4" data-toggle="lightbox" data-gallery="video-gallery" data-type="video" class="col-sm-4">
                                <img src="/images/IMG_1691.jpg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

            <!--  -->
            <!-- btnLINKS -->
            <div class="container-fluid btnLinks extPad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">ACHOU UM BUG?</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">Me deixe sabendo no github</p>
                                <a class="btn btn-success btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;" href="https://github.com/pedroMiranda7410" role="button">Problemas</a>
                            </div>
                        </div>
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">CONTRIBUA</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">Faça parte do projeto</p>
                                <a class="btn btn-secondary btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;" href="/contacts/new" role="button">Contate-me</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">PEGUE DE GRAÇA</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">teste da sua forma</p>
                                <a class="btn btn-primary btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;" href="/Arquivos_Apresentação.zip" role="button" download>Download .zip</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="subText extPad"></p>
            </div>


        <script src="scripts/mobile.js" type="text/javascript"></script>


    </body>
</html>
