
<!DOCTYPE html>
<html>

  <body>


    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;"><font face = "Gravity-Regular" size = "8">Pedro Miranda</font></h1>
            <h3><font face = "Gravity-Regular" size = "5">Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</font></h3>
        </div>

        <div class="homeLeiaMais"  id="section1">
            <a class="stealthLink subPmin padX0" href="#sobreMim"><h4>Leia mais</h4>
            <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
            </a>
        </div>

    </div>

    <div class="container-fluid aboutMe" id="sobreMim">
        <div class="container aboutMe">
            <div class="rowPad mt-4" >
                <div class="col-md-4" id="div-image">
                    <img src="/red2.jpg"  class="circleImg"></img>
                </div>
                <div class="col-md-8" id="div-imageText">
                    <p class="pad20" align = "justify">
                      <font face = "Gravity-Regular" size = "3.5">Bem-vindo ao meu site. Eu sou um hobbista em eletrônica,
                        curioso e, atualmente, estudante de engenharia de software na Universidade de Brasília.
                        No passado, graduei 7 semestres dentro do curso de engenharia eletrônica, um dos quais,
                        participei de alguns projetos envolvendo arduino e construção de simulações gráficas, usando C# dentro da engine Unity (Momento em que me apaixonei pela produção de jogos 2D e 3D).
                        Durante a evolução desses projetos, me encantei pela área de desenvolvimento de software e sua ilimitada gama de possibilidades. Desde então, venho buscando novas experiências e aprendizados construtivos tanto sociais quanto profissionais.</br>
                        Meu objetivo é participar de novos projetos e trabalhos afim de aperfeiçoar minhas habilidades profissionais e, a partir disso, descobrir em qual das áreas de desenvolvimento de software tenho mais facilidade e produtividade.
                      </font>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px;display:table; margin:0 auto;"><font face = "Gravity-Regular" size = "6">SOFTWARE</font></h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">RUBY</font></h3>
                    <h5 class="tileDesc subPmin white" >
                      <font face = "Gravity-Regular" size = "4">
                        Linguagem com maior proficiência, na qual venho trabalhando a mais de 1 ano.
                        Durante esse período, me ingressei na startup <a href="http://firz.com.br/">FIRZ Technology</a>,
                        onde venho, desde então, desenvolvendo aplicações web Internas, com sucesso, para diferentes tipos de clientes
                        ,como por exemplo: Hospitais e empresa de Arquitetura Acústica.
                      </font>
                    </h5>
                      <ul class="centerLinks" style="display:table; margin:0 auto;">
                          <li style="display:inline-block;">
                              <!--<a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>-->
                          </li>
                          <!--<li class="brText"><p>|</p></li>-->
                          <li style="display:inline-block;">
                              <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Projetos em desenvolvimento!</font></p></a>
                          </li>
                      </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">ASSEMBLY</font></h3>
                    <h5 class="tileDesc subPmin white">
                      <font face = "Gravity-Regular" size = "4">
                        6 meses estudando Arquitetura do Conjunto de Instruções MIPS e IA-32(x86)
                        trabalhando com linguagem de montagem realizando manipulações binárias
                        e aumento de desempenho de processadores utilizando o simulador MARS e SPIM.
                      </font>
                    </h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="software/pathfinding"><p style="border-width:0px" id="pathLink">A* Pathfinding Command Line</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Projetos em desenvolvimento!</font></p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">C++</font></h3>
                    <h5 class="tileDesc subPmin white"><font face = "Gravity-Regular" size = "4">
                      6 meses desenvolvendo algoritmos de alto nível e estrutura de dados
                    </font></h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="electronics/air-conditioner-DIY"><p style="border-width:0px">DIY Air Conditioner</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Projetos em desenvolvimento!</font></p></a>
                        </li>
                    </ul>
                </div>


                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">C#</font></h3>
                    <h5 class="tileDesc subPmin white"><font face = "Gravity-Regular" size = "4">
                      1 ano e 6 meses com Orientação a Objetos participando de criação de jogos e simulações gráficas,
                      cujas foram desenvolvidas em meu período que atuei como pesquisador pelo processo da UnB, Iniciação Científica,
                      pesquisando possíveis diagnósticos para o vírus ZIKA através de "Nano-Robôs".

                    </font></h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <a href="/software/fluxo-sanguineo"><p style="border-width:0px"><font face = "Gravity-Regular" size = "2">Fluxo Sanguíneo</font></p></a>
                        </li>
                        <li class="brText"><p><font face = "Gravity-Regular" size = "2">|</font></p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Ver todos os projetos</font></p></a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
              <div class="col-md-6 tilePadWide softTileBack col2Pad">
                  <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">HTML/CSS/JAVASCRIPT</font></h3>
                  <h5 class="tileDesc subPmin white">
                    <font face = "Gravity-Regular" size = "4">
                      1 ano e 6 meses de desenvolvimento WEB, estruturando meus arquivos, tanto .html quanto .css/.scss e .js, de forma separada e didática para fácil
                      manutenabilidade do código e fácil acesso ao público em caso de divulgação de projetos.
                    </font>
                  </h5>
                  <ul class="centerLinks" style="display:table; margin:0 auto;">
                      <li style="display:inline-block;">
                        <!--  <a href="electronics/air-conditioner-DIY"><p style="border-width:0px"></p></a> -->
                      </li>
                    <!--  <li class="brText"><p>|</p></li>-->
                      <li style="display:inline-block;">
                          <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Ver todos os projetos</font></p></a>
                      </li>
                  </ul>
              </div>

              <div class="col-md-6 tilePadWide softTileBack col1Pad2">
                  <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">JAVA</font></h3>
                  <h5 class="tileDesc subPmin white" ><font face = "Gravity-Regular" size = "4">7 meses de orientação a objetos para desenvolvimento de interfaces gráficas para usuários,
                      porém buscando novos tipos de projetos com o intuito de aprimorar conhecimentos na linguagem.</font></h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Projetos em desenvolvimento!</font></p></a>
                        </li>
                    </ul>
              </div>
            </div>
            <div class="row" style="display:flex; justify-content:center">
              <div class="col-md-8 tilePadWide softTileBack">
                <h3 class="white regTitle cenX"><font face = "Gravity-Regular" size = "4">GIT HUB</font></h3>
                <h5 class="tileDesc subPmin white" ><font face = "Gravity-Regular" size = "4">
                  Procuro utilizar as boas práticas do uso do git como criação de branchs, realizar pull requests,
                  excluir branchs "merjadas", anotar issues, fechar issues para melhor utilização cooperativa e permanecer
                  minha mente focada no melhor método de uso da ferramenta.
                </font></h5>
                  <ul class="centerLinks" style="display:table; margin:0 auto;">
                      <li style="display:inline-block;">
                          <!--<a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>-->
                      </li>
                      <!--<li class="brText"><p>|</p></li>-->
                      <li style="display:inline-block;">
                          <a href="/software#top"><p><font face = "Gravity-Regular" size = "2">Projetos em desenvolvimento!</font></p></a>
                      </li>
                  </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12" style="display: flex; justify-content: center;">
                <a class="btn btn-sm btn-white centerBtn" href="/software"><font face = "Gravity-Regular" size = "4">Ver mais</font></a>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0"><font face = "Gravity-Regular" size = "6">ELETRÔNICA</font></h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0"><font face = "Gravity-Regular" size = "4">Ascender lâmpada por palmas</font></h3>
                    </div>
                    <div>
                        <h5 class="tileDesc subPmin"><font face = "Gravity-Regular" size = "4">Utilizando arduino e alguns componentes eletrônicos auxiliares,
                          desenvolvi uma forma de enviar energia da frequência produzida por uma palma para uma lâmpada, em sua devida voltagem.</font> </h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0"><font face = "Gravity-Regular" size = "4">Carregador solar para celular</font></h3>
                    </div>
                    <div>
                        <h5 class="tileDesc subPmin"><font face = "Gravity-Regular" size = "4">Com o uso de células solares com seu efeito fotovoltáico, estou desenvolvendo um carregador solar portátil para celular. Em desenvolvimento.</font></h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0"><font face = "Gravity-Regular" size = "4">Automatização de sistemas</font></h3>
                    </div>
                    <div>
                        <h5 class="tileDesc subPmin"><font face = "Gravity-Regular" size = "4">Vindo em futuros projetos!</font></h5>
                    </div>
                </div>
            </div>
            <div class="rowFooter">
              <a class="btn btn-sm centerBtn" style="background:#3B3B3B;color:white;" href="/eletronica" type="button"><font face = "Gravity-Regular" size = "4">Ver mais</font></a>
            </div>
        </div>
    </div>


    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
