
<!DOCTYPE HTML>
<html>

    <body>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <link href="/lightbox/ekko-lightbox.css" rel="stylesheet">

            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col topPad cenX" style="padding-top:200px;">

                                <h1 class="titleMain" style="font-family: 'Gravity-Regular';font-size: 3em;">ICF - Iniciação Científica FGA</h1>
                                <h3 class="regTitle" style="font-family: 'Gravity-Regular';font-size: 1.8em;">Django - Bootstrap | HTML CSS PYTHON</h3>


                        </div>
                        <!-- <div class="col-4 topPad">

                            yoyoyo
                        </div> -->
                    </div>

                    <div class="cenX padB60" style="padding-left:25%; padding-right:25%;">
                        <h5 style="border: 1px solid blue; border-radius:5px;font-family: 'Gravity-Regular';font-size: 1.4em;">Logo logo disponibilizarei os arquivos para download.</h5>
                        <!--<a class="linkGrey" id="srcCode" href="https://github.com/DevonCrawford/Timelapse-Auto-Ramp-Photoshop-Plugin">View source code</a>-->
                    </div>

                    <div class="row exText">
                        <div class="col-4">
                            <h5 class="cenX"></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX" style="font-family: 'Gravity-Regular';font-size: 2em;">IDEIA</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX"></h5>
                        </div>
                    </div>

                    <img width="100%" src="/homeProfessor.png">

                    </img>

                </div>
            </div>

            <div class="container-fluid  sec" style="background-color: #191919;">
                <div class="container">
                    <h3 class="subTitle white" style="font-family: 'Gravity-Regular';font-size: 3em;">TEORIA</h3>
                    <p class="subText white extPad" align = "justify" id="desc" style="font-family: 'Gravity-Regular';font-size: 1.8em;">

                      Depois de efetuada uma pesquisa pela UnB-FGA, descobrimos que, muitos alunos
                      tem medo de correr atrás de professor achando que eles nunca vão ser aceitos
                      em um Projeto de Iniciação Científica (PIBIC), pelos seus Índices de Rendimento
                      Acadêmico(IRA). Por conta disso, pensamos em desenvolver esse site com o intuito de
                      aproximá-los, de uma forma, em que os alunos irão efetuar um cadastro contendo um formulário
                      perguntando áreas de atuações, que tipo de curso já foi cursado, se ja fez estágio e por ai vai.
                      Com os alunos cadastrados, o professor poderá entrar no site e, caso ele queira alunos para participar
                       em algum projeto que veio á aparecer, conseguirá escolher, por meio de um filtro, quais capacidades
                       ele busca em estudantes. Assim, após feito o processo de filtragem, apertando o botão atualizar, o site gerará
                       um gráfico com a quantidade de alunos em cada capacidade escolhida e dará a ele a opção de enviar um E-mail
                       , á todos esses alunos, contendo um pedido de voluntariado ou bolsa de PIBIC para participação de tal projeto.


                    </p>
                </div>
            </div>

            <div class="container-fluid sec">
                <div class="container cenX padB60" style="padding-top:150px;">
                  <h1 class="titleMain" style="font-family: 'Gravity-Regular';font-size: 3em;">EM DESENVOLVIMENTO</h1>
                  <h3 class="regTitle padB40" style="margin-top:0;" style="font-family: 'Gravity-Regular';font-size: 1.8em;">Retornarei com um tutorial e arquivos sobre o projeto..</h3>
                </div>

              <!--
                <div class="container">
                    <h3 class="subTitle">HOW TO USE</h3>
                        <ul class="listPad">
                            <li>..........</li>
                            <li>.............</li>
                            <li>..................</li>
                            <li>........... <code>java -jar proRAW.jar</code></li>
                            <li>................</li>
                            <li>...............</li>
                        </ul>
                </div>
              -->
              <!--
                <div class="container">
                    <iframe src="/PDFslides_fluxoSang.pdf" width="90%" height="650px" class="centerImg padB40"></iframe>
                </div>
            </div>

          -->



            <!-- <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">RESULTS</h3>
                    <div class="row justify-content-center">
                        <div class="row">
                            <a href="results/sunset-result.mp4" data-toggle="lightbox" data-type="video" data-gallery="video-gallery" class="col-sm-4">
                                <img src="results/thumbs/sunset-cmp.jpg" class="img-fluid">
                            </a>
                            <a href="https://www.youtube.com/watch?v=tPx9ZOmckCc" data-toggle="lightbox" data-gallery="video-gallery" data-type="youtube" class="col-sm-4">
                                <img src="/images/IMG_1083.jpg" class="img-fluid">
                            </a>
                            <a href="/timelapses/DamBeach.mp4" data-toggle="lightbox" data-gallery="video-gallery" data-type="video" class="col-sm-4">
                                <img src="/images/IMG_1691.jpg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

            <!--  -->
            <!-- btnLINKS -->
            <div class="container-fluid btnLinks extPad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">ACHOU UM BUG?</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">Me deixe sabendo no github</p>
                                <a class="btn btn-success btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;" href="https://github.com/pedroMiranda7410" role="button">Problemas</a>
                            </div>
                        </div>
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">CONTRIBUA</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">Faça parte do projeto</p>
                                <a class="btn btn-secondary btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;" href="/contacts/new" role="button">Contate-me</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="leftCenter">
                                <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">PEGUE DE GRAÇA</h3>
                                <p class="subText" style="font-family: 'Gravity-Regular';font-size: 1.7em;">teste da sua forma</p>
                                <a class="btn btn-primary btn-lg w100" style="font-family: 'Gravity-Regular';font-size: 1.7em;"  role="button" download>Em Breve..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="subText extPad"></p>
            </div>

        <script src="scripts/mobile.js" type="text/javascript"></script>


    </body>
</html>
