
<!DOCTYPE HTML>
<html>
    <style>
        <% if current_mobileDevice %>
            .rowBackSS {
                height: 100px !important;
            }
        <% else %>
            .rowBackSS {
                height: 240px !important;
            }
        <% end %>
    </style>
    <body>


        <link rel="stylesheet" href="css/page.css">
        <div class="homeImgSoftware">
            <div class="center container" style="padding-top: 50px;">
                <h1 class="cenX " style=" color:black;  letter-spacing: <%= current_mobileDevice ? "15px" : "20px" %>; "><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '2' : '5' %>">REPOSITÓRIO DE CÓDIGOS</font></h1>
                <div class="rowBackSS"></div>
                <h6  class ="cenX" style=" color:black;font-family: 'Gravity-Regular'; letter-spacing: 10px;padding-bottom:60px;padding-top:10px;" id="here"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? "1.5" : "2" %>">
                  RUBY | WEB DESIGN | JAVA | C | C# | C++
                </font>
                </h6>
            </div>
              <div class="homeLeiaMais" style="">
                  <a class="stealthLink subPmin padX0" href="#top"><h4><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '3' : '5' %>">VER PROJETOS</font></h4>
                  <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow.png" width="25"/></button>
                  </a>
              </div>

        </div>
        <!-- <div class="homeImg">
            <div class="homeDiv center">
                <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;"><font face = "Gravity-Regular" size = "8">Pedro Miranda</font></h1>
                <h3><font face = "Gravity-Regular" size = "5">Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</font></h3>
            </div>

            <div class="homeLeiaMais"  id="section1">
                <a class="stealthLink subPmin padX0" href="#sobreMim"><h4>Leia mais</h4>
                <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
                </a>
            </div>

        </div> -->

        <a class="anchor" id="top"></a>

        <div class="cenX sec temp" id="projetos" width="100%">
            <div class="container" style="display: inline-flex;flex-direction: column;align-items: center;">
                <div class="borderProj">
                    <a href="/software/fluxo-sanguineo" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/fluxo_sanguineo.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle"><font face = "Gravity-Regular" size = "5">Simulação de "Nano-robô" | C#</font></h3>
                                <p class="subP pad0 italic"><font face = "Gravity-Regular" size = "3">Engine Unity</font></p>
                                  <p style="padding-top: 20px;font-family: 'Gravity-Regular'; letter-spacing: 1px;">
                                      Simulação gráfica sobre o comportamento de um nano-tubo de ouro ("nano-robô") ao chegar perto
                                      de uma Hemácia infectada com uma certa doença...
                                  </p>


                                 <p class="subP desc" data-desc="/software/fluxo-sanguineo"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="/software/projeto_icf" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/homeProfessor.png" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle"><font face = "Gravity-Regular" size = "5"> ICF (Iniciação Científica F.G.A) | PYTHON - Django</font></h3>

                                <p style="padding-top:20px; font-family: 'Gravity-Regular'; letter-spacing: 1px; ">

                                  Site em desenvolvimento para ajudar os alunos e professores da UnB-FGA a se aproximarem
                                  e efetuarem Projetos de Pesquisa (PIBIC)...

                                </p>
                                 <p class="subP desc" data-desc="/software/projeto_icf"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec" width="100%">
            <div class="container" width="100%">
                <h3 class="titleArquitecture white" align = "justify"><font face = "Gravity-Regular" size = "6">PILHA DE TECNOLOGIA</font></h3>
                <h3 class="subberTitle white" align = "justify"><font face = "Gravity-Regular" size = "2">A arquitetura do meu site</font></h3>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    
                </div>
                <div class="col-lg-3">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Front-end</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">HTML/CSS/JS</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>Toda estilização e estrutura foi feita utilizando HTML, CSS e Javascript Puro.</li>
                        <li>
                            Inicialmente eu não havia usado nada de bootstrap, sendo todos os códigos criados na mão (Desde o css até o JS),
                            para aprimorar meus conhecimentos, porém, após ter adiquirido todo conhecimento que eu almejava, refiz meu site utilizando os css's prontos do bootstrap para facilitar minha manipulação e ganhar tempo.
                        </li>
                        <li>Toda a parte de dashboard eu peguei de um template pronto da 
                        <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard">CREATIVE TIM</a> que vocês podem baixar e se divertir redefinindo também.
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-2">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Back-end</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Ruby</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                        Todo desenvolvimento de Back-end foi feito com Ruby, desde a estrutura e controle do banco de dados, controle de notificações, até quanto as
                        informações que são dispostas sobre mim e a comunidade.
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-3">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Database</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Postgresql</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                            O banco de dados do meu site guarda dados das minhas informações que estão dispostas na tela <a href="/">inicial</a>
                            para que eu tenha controle e possa editar a qualquer momento pela minha dashboard. Dados dos projetos tantos que eu posto, quanto a comunidade gratuitamente para todos.
                        </li>
                        <li>Curiosidade: A sua escolha de "Tamo Junto" ou "Eu quem agradeço", na primeira vez que vc acessa sua conta, é salva só pela curiosidade <img src="smile.png" style="width:15px;height:15px" alt=""</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Servidor</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Heroku</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                            A escolha do heroku foi por conta da facilidade que eu tinha de utilizá-lo com Ruby, então caso você
                            tenha alguma <a href="contact/new">sugestão</a> de um melhor servidor, estarei disposto e feliz em escutá-lo(a)
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
        <script>
            $(document).ready(function(){
                $('#summary').ready(function(){
                    var $this = $(this);
                    var t = $this.text();
                    $this.html(t.replace(/&lt;br\s*\/&gt;/g,'<br>'));
                });
            });
        </script>
    </body>
</html>
