
<!DOCTYPE HTML>
<html>
    <style>
        <% if current_mobileDevice %>
            .rowBackSS {
                height: 100px !important;
            }
        <% else %>
            .rowBackSS {
                height: 240px !important;
            }
        <% end %>
    </style>
    <body>


        <link rel="stylesheet" href="css/page.css">
        <div class="homeImgSoftware">
            <div class="center container" style="padding-top: 50px;">
                <h1 class="cenX " style=" color:black;  letter-spacing: <%= current_mobileDevice ? "15px" : "20px" %>; "><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '2' : '5' %>">REPOSITÓRIO DE CÓDIGOS</font></h1>
                <div class="rowBackSS"></div>
                <h6  class ="cenX" style=" color:black;font-family: 'Gravity-Regular'; letter-spacing: 10px;padding-bottom:60px;padding-top:10px;" id="here"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? "1.5" : "2" %>">
                  RUBY | WEB DESIGN | JAVA | C | C# | C++
                </font>
                </h6>
            </div>
              <div class="homeLeiaMais" style="">
                  <a class="stealthLink subPmin padX0" href="#top"><h4><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '3' : '5' %>">VER PROJETOS</font></h4>
                  <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow.png" width="25"/></button>
                  </a>
              </div>

        </div>
        <!-- <div class="homeImg">
            <div class="homeDiv center">
                <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;"><font face = "Gravity-Regular" size = "8">Pedro Miranda</font></h1>
                <h3><font face = "Gravity-Regular" size = "5">Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</font></h3>
            </div>

            <div class="homeLeiaMais"  id="section1">
                <a class="stealthLink subPmin padX0" href="#sobreMim"><h4>Leia mais</h4>
                <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
                </a>
            </div>

        </div> -->

        <a class="anchor" id="top"></a>

        <div class="cenX sec temp" id="projetos" width="100%">
            <div class="container" style="display: inline-flex;flex-direction: column;align-items: center;">
                <div class="borderProj">
                    <a href="/software/fluxo-sanguineo" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/fluxo_sanguineo.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle"><font face = "Gravity-Regular" size = "5">Simulação de "Nano-robô" | C#</font></h3>
                                <p class="subP pad0 italic"><font face = "Gravity-Regular" size = "3">Engine Unity</font></p>
                                  <p style="padding-top: 20px;font-family: 'Gravity-Regular'; letter-spacing: 1px;">
                                      Simulação gráfica sobre o comportamento de um nano-tubo de ouro ("nano-robô") ao chegar perto
                                      de uma Hemácia infectada com uma certa doença...
                                  </p>


                                 <p class="subP desc" data-desc="/software/fluxo-sanguineo"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="/software/projeto_icf" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="/homeProfessor.png" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle"><font face = "Gravity-Regular" size = "5"> ICF (Iniciação Científica F.G.A) | PYTHON - Django</font></h3>

                                <p style="padding-top:20px; font-family: 'Gravity-Regular'; letter-spacing: 1px; ">

                                  Site em desenvolvimento para ajudar os alunos e professores da UnB-FGA a se aproximarem
                                  e efetuarem Projetos de Pesquisa (PIBIC)...

                                </p>
                                 <p class="subP desc" data-desc="/software/projeto_icf"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec" width="100%">
            <div class="container" width="100%">
                <h3 class="subTitle white" align = "justify"><font face = "Gravity-Regular" size = "6">MEU OBJETIVO</font></h3>
                 <p class="subText white extPad"><font face = "Gravity-Regular">
                      Desenvolvi esse site utilizando Ruby on Rails por pura aventura de entrar em uma linguagem
                      que nunca havia utilizado, visando sua total diferença quanto às outras existentes.
                      Seguindo esse caminho, meu objetivo está sendo passar por momentos instigantes, como esse que passei, apenas pela
                      beleza de poder errar sozinho, consertar e finalmente aprender.</br>
                      Eu tenho um olhar aguçado para desafios e enigmas, não entender como funciona um obstáculo no meu caminho é o mesmo que dar "tchau" à minha vida social.
                      Desde que ingressei no curso de engenharia de software venho desenvolvendo minhas habilidades em certas linguagens como JAVA, C# e Ruby voltado para um profundo entendimento do uso de orientação a objetos e aplicações WEB,
                      já que front-end e back-end não eram minhas melhores atuações.</br>
                      Todo trabalho postado nesse site será disponibilizado gratuitamente para download à qualquer um que se interessar!

                    </font>
                      </p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle"><font face = "Gravity-Regular" size = "6">HABILIDADES TÉCNICAS</font></h3>
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">C</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';">Minha primeira linguagem de programação.<br/><br/>

                  Uma linguagem, na qual, aprendi ao decorrer de 1 semestre pela matéria "Computação Básica", na UnB-FGA,
                  e não tive tanto interesse em aprimorá-la. Porém, caso surja alguma oportunidade de projeto envolvendo-a, estarei disposto
                  à desenvolvê-la.
                </p>
            </div>


            <div class="container">
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">C++</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';">
                  3 meses estudando o básico de C++ com Orientação a Objetos organizando arquivos .cpp e .hpp na sua devida forma. Meu único projeto envolvendo a linguagem
                  foi desenvolver uma urna eletrônica com todas as funcionalidades da original, através do terminal Linux (Ubuntu).
                </p>

            </div>

            <div class="container">
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">C#</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';"><h7 style="border-radius: 5px;   border: 2px solid red; background-color:#FF6347;">LINGUAGEM COM MAIOR CONHECIMENTO</h7></br></br>

                  Efetuei um curso no site Udemy, no qual pode ser redirecionado<a href="https://www.udemy.com/o-guia-definitivo-para-desenvolvimento-de-jogos-com-unity/In"> aqui</a>
                  para saber mais, onde aprendi organização de código Orientada á Objetos trabalhando na Engine Unity. Lá cheguei á desenvolver 2 Jogos e estar perto de finalizar outro,
                  porém infelizmente, na época, meu HD interno do notebook queimou e perdi todos meus projetos e arquivos salvos. Futuramente, penso em voltar
                  ao ramo de Games por hobby e paixão, então assim trarei alguns projetos para que sejam disponibilizados aqui de forma didática, afim de ajudar
                  interessados à seguir seus sonhos.
                     </p>

            </div>

            <div class="container">
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">HTML, CSS, JAVASCRIPT, BOOTSTRAP</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';"><h7 style="border-radius: 5px;   border: 2px solid red; background-color:#FF6347;">LINGUAGEM COM MAIOR CONHECIMENTO</h7></br></br>
                   Eu decidi construir esse site do zero, utilizando o framework rails, para ganhar melhor entendimento
                  de como funciona tanto a organização de arquivos quanto o desenvolvimento de cada página web. Logo irei acrescentando
                  novos projetos feitos por mim, com o intuito de ajudar pessoas á ganharem conhecimento. Front-end não era um talento pra mim,
                  então esse site me ajudou a ir mais afundo e experimentar minha criatividade até chegar na minha zona de conforto.
                </p>
            </div>

            <div class="container">
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">JAVA</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';"><h7 style="border-radius: 5px;   border: 2px solid red; background-color:#FF6347;">LINGUAGEM COM MAIOR CONHECIMENTO</h7></br></br>
                  Com 8 meses estudando Orientação a Objetos, Java é a linguagem, na qual, criei maior afeição.
                  Criei alguns aplicativos de celular, bem como, aplicações envolvendo desing de interface gráfica.
                  Após colocar esse site no ar, estarei focando meus estudos tanto para Java, desenvolvendo aplicações de alto nível,
                  quanto para aplicações WEB.
                 </p>
            </div>

            <div class="container">
                <h3 class="subTitle" style="font-family: 'Gravity-Regular';">PYTHON</h3>
                <p class="subP" style="font-family: 'Gravity-Regular';">
                  3 meses estudando python, possuindo noções básicas e suficientes para desenvolver um site pelo framework Django.
                 </p>
            </div>


        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">ENCONTROU UM BUG?</h3>
                            <p class="subText" style="font-family: 'Gravity-Regular';">me deixe sabendo</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/pedroMiranda7410" role="button">Github</a>
                        </div>
                    </div>
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2" style="font-family: 'Gravity-Regular';font-size: 2em;">CONTRIBUA</h3>
                            <p class="subText" style="font-family: 'Gravity-Regular';" >faça parte de algum projeto</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contacts/new" role="button">Me Contate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
