<!DOCTYPE HTML>
<html>
    <head>
      <title>Pedro Miranda</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/includes/bootstrap.min.css">

<!-- Custom spacing and fonts that are often reused -->
<link rel="stylesheet" href="/css/spacing.css" type="text/css">
<link rel="stylesheet" href="/css/fonts.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/includes/popper.min.js"></script>
<script src="/includes/jquery.min.js"></script>
<script src="/includes/bootstrap.min.js"></script>


    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand-lg toggle-height " id="contact-nav" >
           <div class="container">
          <a class="navbar-brand scrollN_contact_Pedro"  href="/"><font face = "Gravity-Regular" size = "3">Pedro Miranda</font></a>
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li > <a class="nav-link scrollN_contact " style="color: black;" href="/software/"><font face = "Gravity-Regular">Software</font></a></li>
              <li> <a class="nav-link scrollN_contact " style="color: black;" href="/eletronica"><font face = "Gravity-Regular">Eletrônica</font></a></li>
              <!--<li><a class="nav-link scrollN " href="/films/">Films</a></li>
              <li><a class="nav-link scrollN " href="/photography/">Photography</a></li> -->
            </ul>
            <ul class="navbar-nav">
                <li><a class="nav-link scrollN_contact" style="color: black;" href="/contacts/new"><font face = "Gravity-Regular">Contato</font></a></li>
            </ul>
          </div>
           </div>


  </nav>


        <link rel="stylesheet" type="text/css" href="css/page.css"/>


  <div class="back">
    <div class="center cenX">
      <h1 class="titleMain" style="padding-bottom: 20px;font-family: 'Gravity-Regular';font-size: 4.5em;">OBRIGADO!</h1>
      <h3 class="regTitle padB40" style="padding-bottom: 20px;font-family: 'Gravity-Regular';font-size: 2.5em;">Seu e-mail foi enviado com sucesso, <%= @contact.name%>.</h3>
      <h3 class="regTitle padB40 two" style="padding-bottom: 20px;font-family: 'Gravity-Regular';font-size: 2em;">Vou tentar meu melhor para te retornar dentro de 24 horas.</h3>
    </div>
  </div>





        <script src="scripts/mobile.js" type="text/javascript"></script>
        <script src="scripts/send.js" type="text/javascript"></script>

        <script src="includes/jquery.min.js"></script>
        <!-- Odometr includes -->
        <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
        <script src="includes/odometer.js"></script>
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>
