<style>
  .center{
    width:90%;
  }
</style>

<div class="back">
    <div class="center cenX">
      <h1 class="titleMain" style="font-family: 'Gravity-Regular';">CONTATO</h1>
      <h3 class="regTitle padB40" style="margin-top:0;font-family: 'Gravity-Regular';">
        Peço desculpas, mas estou em manutenção.<br>
        Me envie uma mensagem pelo direct do <a href="https://www.instagram.com/pedro.jams/">Insta</a> !
        
      </h3>

    </div>
  </div>

