
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Em Breve...</h4>
                    </div>
                    <div class=" px-auto card-body table-full-width table-responsive">
                           <p class="px-5">O sistema de chat será utilizado para comunicação entre mim e qualquer pessoa que queira tirar dúvidas sobre assuntos específicos, seja sobre linguagens de programação, frameworks, tecnologias em geral, postagem de certos projetos e/ou, apenas, bater um bom papo S2.</p>
                           <p class="px-5">Logo logo, estarei disponibilizando essa funcionalidade para todos ;)</p>

                           <p class="px-5"><strong>Obs: </strong>Digo que o chat será voltado pra mim pois também estou desenvolvendo um sistema de comentários para cada projeto e, assim, vocês poderão comunicar entre si.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul class="footer-menu">
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="pedro-miranda.herokuapp.com">Pedro Miranda</a>, feito com muito amor para todos.
            </p>
        </nav>
    </div>
</footer>
