
.arrow{
  text-align: center;
  margin: 8% 0;
}

.arrow i{
  -webkit-animation: bounce 2s infinite ease-in-out;
}



@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX(0); }
    40%  { -webkit-transform: translateX(-5px); }
	80% { -webkit-transform: translateX(-2.5px); }
}

